langchain
langchain-community
langchain-core  
langchain-groq
requests
python-dotenv
langchainhub
langsmith

#search tool
langchain-tavily

#python UI
streamlit

#web scraping
beautifulsoup4
readability-lxml
trafilatura
requests
lxml

#print output beautifully 
rich