langchain==0.3.27
langchain-community==0.3.27
langchain-core==0.3.77
langchain-openai==0.2.14
langchain-groq==0.2.5
langchain-chroma==0.2.6
langserve==0.3.3   
sentence-transformers==5.7.0
python-dotenv==1.2.2
fastapi==0.141.1  # Explicitly add FastAPI
uvicorn==0.34.0  # ASGI server for running LangServe
langgraph==0.2.60